.block {
  text-align: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 80%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;  
  box-shadow: rgba(17, 22, 26, 0.16) 0px 4px 8px 0px, rgba(17, 22, 26, 0.08) 0px 4px 8px 0px, rgba(17, 22, 26, 0.04) 0px 8px 16px 0px;
  border-radius: 0.25rem;
}

.vid {
  text-align: center;
  justify-content: center;
  width: 50vh;
}